.h1, h1 {
    font-size: 20px;
}

.h3, h3 {
    font-size: 25px;
    line-height: 0.5;
}

body,html {
    height: 100%;
}

.footer {
    width: 100%;
    position: absolute;
    bottom:20px;
    font-size: 10px;
    text-align: center;
}
