# Please keep users, directories and files  sorted alphabetically.
# Directories first

[General Maintainer] @approvers/general/maintainer
*

[RTEMS Release] @chris
*
*.in @approvers/docs
*.md @approvers/docs

[Documentation] @approvers/docs
*.in
*.md
